@model IEnumerable<pousadaAsp.Models.ClientePJ>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndrecoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PJ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndrecoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PJ.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPessoaJuridica">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPessoaJuridica">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPessoaJuridica">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
